{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Add Note - Hangarin{% endblock %}
{% block page_title %}Add Note{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Add New Note</h4>
			</div>
			<div class="card-body">
				<form method="post">
					{% csrf_token %}
					
					<div class="form-group">
						<label for="{{ form.task.id_for_label }}">
							Task: <span class="text-danger">*</span>
						</label>
						<div class="input-group">
							{% render_field form.task class="form-control" %}
							<div class="input-group-append">
								<a href="{% url 'task-list' %}" class="btn btn-secondary" data-toggle="tooltip" title="View tasks" target="_blank">
									<i class="la la-eye"></i>
								</a>
								<a href="{% url 'task-add' %}" class="btn btn-success" data-toggle="tooltip" title="Add new task" target="_blank">
									<i class="la la-plus"></i>
								</a>
							</div>
						</div>
						{% if form.task.errors %}
							<small class="form-text text-danger">{{ form.task.errors.0 }}</small>
						{% endif %}
					</div>
					
					<div class="form-group">
						<label for="{{ form.content.id_for_label }}">
							Content: <span class="text-danger">*</span>
						</label>
						{% render_field form.content class="form-control" placeholder="Enter note content" rows="5" %}
						{% if form.content.errors %}
							<small class="form-text text-danger">{{ form.content.errors.0 }}</small>
						{% endif %}
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-primary">
							<i class="la la-save"></i> SAVE
						</button>
						<a href="{% url 'note-list' %}" class="btn btn-secondary ml-2">
							<i class="la la-times"></i> Cancel
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
